<!DOCTYPE html>
<html>
  <head>
    <title>LblLanding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3675438485043200",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag (asset_path 'first_slide.png'), class: 'd-block slide' %>
    </div>
    <div class="carousel-item">
        <%= image_tag (asset_path 'second_slide.png'), class: 'd-block slide' %>
    </div>
  </div>
</div>
<div style="position: relative; left: 8%;">
     <script type="text/javascript">
        amzn_assoc_ad_type = "banner";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_placement = "assoc_banner_placement_default";
  amzn_assoc_campaigns = "audible";
  amzn_assoc_banner_type = "category";
  amzn_assoc_isresponsive = "true";
  amzn_assoc_banner_id = "150QW4V7HCHE6FFE8X02";
  amzn_assoc_tracking_id = "rbsouth-20";
  amzn_assoc_linkid = "31bd771a37c3d74460497e0da323370f";
     </script>
     <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div>

    <%= yield %>
 <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=42&l=ur1&category=health&banner=1P6S277C4M6XB9804C82&f=ifr&linkID=0c52e67dbe389557b2b16f1ff1f1607d&t=rbsouth-20&tracking_id=rbsouth-20" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none; position: relative; left: 20%;" frameborder="0"></iframe>
 <script type="text/javascript">
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "rbsouth-20";
    amzn_assoc_linkid = "22a906d7133f7740335fb13d873423ab";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
</script>
<script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
  </body>
</html>
